html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: block;
  place-items: initial;
  background: transparent;
  overflow-x: hidden;
}

#root {
  max-width: none;
  margin: 0;
  padding: 0;
  text-align: initial;
}
