/*  Global styles với Tailwind directives và custom scrollbar */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(60, 60, 60, 0.75) transparent;
}

html,
body,
#root {
  height: 100%;
}

body {
  overflow-x: hidden;
}